# Configurações do Firebase Emulator (Desenvolvimento Local)
FIREBASE_AUTH_EMULATOR_HOST=localhost:9099
FIRESTORE_EMULATOR_HOST=localhost:8080

# Futuras variáveis da API / IoT / IA
PORT=3000
NODE_ENV=development